<% layout('layouts/default.html', {title:site.siteName+'-首页', libs: []}){ %>
<div class="row">
    <div class="col-lg-12">

    </div>
</div>

<#html:foreach items="${categoryList(site.siteCode, '0', 3, '')}" var="category,status">
<#html:if test="${category.moduleType == 'article'}">
<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <h1 class="h1">${category.categoryName}</h1>
        </div>
        <div>

        </div>
    </div>
</div>
</#html:if>
</#html:foreach>

<% } %>
